{% extends 'base.html.twig' %}

{% block title %}Hello!{% endblock %}

{% block body %}
<div>
    <h1>Please sign in:</h1>
    <hr>
    {% if error %}
        <span class="text-danger">{{ error.messageKey }}</span>
    {% endif %}
    <form action="{{ path('login') }}" method="POST">
        Username: <input class="form-control" type="text" name="_username" value="{{ last_username }}"><br> 
        Password: <input class="form-control" type="password" name="_password"><br>
        <button type="submit" class="btn btn-primary">Sign In</button>
    </form>
</div>
{% endblock %}
