{% extends 'base.html.twig' %}

{# Override base title #}
{% block title %}New Charity{% endblock %}

{# Override base body #}
{% block body %}
    <h1>New Charity</h1>
    <hr>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}