{% extends 'base.html.twig'%}

{# Override base body #}
{% block body %}
{# implement this logic one db is created - if charity category is equal chose category, display charities #}

{# <ul>
	{% for charity in charities %}
		<li>
			{{ charity }}

            TODO add link to charity page 
            <a href="{{ path('charity_show', { slug: '?????' }) }}">
		</li>
	{% endfor %}
</ul> #}
{% endblock %}