<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobile-nav">
            <span class="navbar-toggle-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mobile-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}
                <li class="nav-item">
                    <a href="/categories" class="nav-link">All Categories</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Add New</a>
                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 40px, 0px);">
                    <a class="dropdown-item" href="/charity/new">New Charity</a>
                    <a class="dropdown-item" href="/category/new">New Category</a>
                    </div>
                </li>
                {% endif %}
                {# Only show Sign In button if user is not logged in #}
                {% if not app.user %}
                <li class="nav-item">
                    <a href="/login" class="nav-link">Sign In</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="/logout" class="nav-link">Sign Out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>